@import "../../../variables.scss";

.location-section {
  @include box-center($direction: column);
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: $dark-blue;
  .img-wrapper {
    > div {
      background-color: transparent !important;
    }
  }
  a {
    color: $dark-blue;
  }
  p {
    color: #fff;
    margin: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    span {
      color: $light-green;
    }
  }
  * {
    text-align: center;
  }
}
