@import "../../../variables.scss";

.hero {
  @include box-center($justify: space-between);
  background: $light-green;
  min-height: calc(80vh - 4.5rem);
  .right {
    @include box-center($direction: column, $align: flex-end);
    gap: 3rem;
  }
  .illustration-text {
    @include box-center;
    justify-content: flex-end;
    position: relative;
  }
  .text {
    color: $light-green;
    position: absolute;
    left: 2rem;
    top: 1rem;
    .white {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .helper-one,
    .helper-two {
      @include box-center;
    }
    .helper-one {
      gap: 1rem;
    }
    .helper-two {
      flex-direction: column;
      align-items: flex-start;
      p {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.4rem;
      }
    }
    .number {
      font-size: 4rem;
      font-weight: 600;
      line-height: 4.5rem;
    }
  }
  h1 {
    font-size: 2.2rem;
    width: 24.5rem;
    font-weight: 800;
    color: $dark-blue;
  }
  .hero-img-wrapper {
    &.first {
      max-width: 90%;
    }
    > div {
      background-color: transparent !important;
    }
    * {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@media (max-width: 850px) {
  .hero {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 2rem 0;
    min-height: initial;
    h1 {
      width: initial;
      text-align: center;
    }
    .right {
      align-items: center;
      padding: 1rem;
    }
    .hero-img-wrapper {
      &.first {
        height: 13rem !important;
        img {
          object-position: center !important;
        }
      }
    }
  }
}
