@import "../../../variables.scss";

.spec-section {
  @include box-center($direction: column, $align: flex-start);
  gap: 5rem;
  margin: 6rem 0;
}

@media (max-width: 750px) {
  .spec-section {
    align-items: center;
  }
}
